/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif', '微軟正黑體', '儷黑Pro', 'Ubuntu', Arial;
    background: #eee;
    font-size: 110%;
}
